@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;800;900&family=Rubik:wght@800&display=swap');

:root {
  --main-bg-color: #232946;
  --btn-color: #eebbc3;
  --headline-color: #fffffe;
  --paragraph-color: #b8c1ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 1200px) {
    font-size: 58%;
  }
  @media only screen and (min-width: 1980px) {
    font-size: 70%;
  }
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  background: var(--main-bg-color);
  color: var(--headline-color);
}

button {
  border: none;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: -0.1rem;
  min-width: 200px;
  text-align: center;
  padding: 0.5em 1.5em;
  border-radius: 10px;
  background-color: var(--btn-color);
  color: var(--main-bg-color);
  cursor: pointer;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.333);
  margin-bottom: 5px;
}

button:hover {
  background-color: #eeadb7;
}

input {
    padding: 1em;
    min-width: 300px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
}

input:focus {
    outline-color: var(--main-bg-color);
}
